<?xml version="1.0" encoding="utf-8"?> <!-- קובץ המניפסט: כאן מנהלים את כל רכיבי האפליקציה וההרשאות שלה -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- הרשאת אינטרנט: חובה כדי להתחבר ל-Firebase ולשלוף נתונים מהרשת -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EatSmart"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <!-- הגדרת מסך הכניסה: זהו המסך הראשון שהמשתמש יראה -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> <!-- מגדיר את האקטיביטי כפעולה הראשית של האפליקציה -->
                <category android:name="android.intent.category.LAUNCHER" /> <!-- גורם לאייקון של האפליקציה להופיע בתפריט ולהפעיל את המסך הזה -->
            </intent-filter>
        </activity>
        <!-- הצהרה על מסך ההרשמה למשתמשים חדשים -->
        <activity android:name=".SignUpActivity" android:exported="false" />
        <activity android:name=".ChoosePlanActivity" android:exported="false" /> <!-- הצהרה על מסך בחירת תוכנית תזונה -->
        <activity android:name=".HomeActivity" android:exported="false" /> <!-- הצהרה על המסך הראשי שמוצג אחרי ההתחברות -->
        <activity android:name=".RecipeDetailActivity" android:exported="false" /> <!-- הצהרה על מסך שמציג את פרטי המתכון הנבחר -->

    </application>

</manifest>